.sources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 6px;
    padding: 0 6px;
    width: calc(100wv - 24px);
    max-height: 88px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    /* background-color: #263e60; */
    font: 300 .9em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 1px solid #5995e9;
    font: inherit;
    line-height: 1;
    margin: 3px;
    padding: 3px 5px;
    color: #5995e9;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #2d8ca4;
    color: #2d8ca4;
    box-shadow: 0 3px 8px -2.5px #2d8ca4;
    transform: translateY(-0.1em) scale(1.05);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
