body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #dedce9;
    background: #212636;
    font-family: sans-serif;
}

header {
    padding: 6px 10px;
}

header h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 800;
}

footer {
    height: 100px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #494d6a;
    text-align: center;
}
footer .copyright a {
    color: #494d6a;
}
footer .copyright a:hover {
    color: #5c5f76;
}
footer .copyright:before {
    content: '©';
}
